* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  line-height: 1.5;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  scroll-padding: var(--header-height) 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-body-text);
  background: var(--color-body-bg);

  /* gradually try to set better but less supported values and units */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  outline: none;

  & a {
    text-decoration: none !important;
  }
}

h1 {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-m);
}

h2 {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-m);
}

h3 {
  font-size: var(--font-size-l);
  margin-bottom: var(--space-xs);
  line-height: 1.175;
}

h4, h5, h6 {
  font-size: var(--font-size-base);
  margin-bottom: var(--space-xs);
  line-height: 1.175;
}

a {
  outline: 0;
  color: var(--color-primary-main);
  text-decoration: none;
  transition-property: background, color;
  transition-duration: var(--transition-duration-fast);

  &:hover {
    text-decoration: underline;
  }

  & svg {
    transition-property: background, color;
    transition-duration: var(--transition-duration-fast);
  }
}

ul {
  margin-left: 1rem;
  margin-bottom: var(--space-m);
}

ol {
  margin-left: 1rem;
  margin-bottom: var(--space-m);
}

p, ul, figure, .note {
  margin-bottom: var(--space-m);

  @nest ul li > &:last-child {
    margin-bottom: 0;
  }
}

p,
ul,
ol,
nav,
figure,
.note {
  & + h1 {
    margin-top: var(--space-xxxl);
  }

  & + h2 {
    margin-top: var(--space-xl);
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: var(--space-l);
  }
}

strong {
  color: var(--color-neutral-65);
  font-weight: var(--font-weight-semibold);
}

code {
  color: var(--color-neutral-65);
  font-size: var(--font-size-s);
  font-family: monospace;
}

small {
  font-size: var(--font-size-s);
}

input,
button {
  appearance: none;
  font-family: var(--font-family-base);
  font-size: 1.1rem;
  font-weight: var(--font-weight-normal);
  padding: var(--space-xs) var(--space-m);
  color: var(--color-body-text);
  background-color: var(--color-white);
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  outline: none;

  &:focus,
  &:hover {
    box-shadow: var(--box-shadow-strong);
  }
}

img {
  max-width: 100%;
}

img:-moz-loading {
  visibility: hidden;
}

[aria-hidden="true"] {
  display: none;
}

form {
  max-width: 29rem;
  color: var(--color-white);
  background: var(--bg-gradient-peachy);
  padding: var(--space-m) var(--space-l);
  border-radius: var(--border-radius);

  & h4 {
    margin-bottom: var(--space-m);
  }

  & a {
    color: inherit;
    text-decoration: underline;
  }

  & div {
    margin-bottom: var(--space-m);

    &.check {
      display: flex;
      align-items: flex-start;
      gap: var(--space-s);
    }
  }

  & label {
    display: block;
    margin-bottom: var(--space-xxs);
  }

  & input[type="text"] {
    width: 100%;
  }

  & input[type="checkbox"] {
    width: var(--space-s);
    height: var(--space-s);
    padding: var(--space-s);
    border-radius: var(--space-xs);

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23F56522' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
  }
}

@define-mixin peach-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  border-radius: 3em;
  padding: var(--space-xs) var(--space-l);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-base);
  font-size: 1.1rem;
  background-repeat: no-repeat;
  transition-property: color;
  transition-duration: var(--transition-duration-fast);
  white-space: nowrap;

  &:focus,
  &:hover {
    box-shadow: var(--box-shadow-strong);
    text-decoration: none;
  }
}

@define-mixin peach-button-white {
  color: var(--color-body-text);
  background-color: var(--color-white);

  &:focus,
  &:hover {
    color: var(--color-primary-main);
  }
}

@define-mixin peach-button-primary {
  color: var(--color-white);
  background: var(--color-primary-main);

  &:focus,
  &:hover {
    background: var(--bg-gradient-peachy);
  }
}

.button {
  @mixin peach-button;

  &.button--white {
    @mixin peach-button-white;
  }

  &.button--primary {
    @mixin peach-button-primary;
  }
}

.buttons,
.buttons p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-m) var(--space-l);
}

.buttons {
  margin: var(--space-l) 0;

  & p {
    width: 100%;
  }

  & a {
    flex: 0 0 16rem;
    @mixin peach-button;
  }
}

.teaser .buttons a {
  @mixin peach-button-white;
}

:not(.teaser) >  .buttons a {
  @mixin peach-button-primary;
}

.note {
  color: var(--color-white);
  background: var(--bg-gradient-peachy);
  padding: var(--space-m) var(--space-l);
  border-radius: var(--border-radius);

  & a {
    color: var(--color-white);
    text-decoration: underline;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

main {
  & figure  {
    text-align: center;
  }

  & svg[role="img"] {
    width: 1rem;
    height: 1rem;
  }
}
