* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  line-height: 1.5;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  line-height: 1;

  & a {
    color: currentColor;
    text-decoration: none !important;
  }
}

h1 {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-m);
}

h2 {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-m);
}

h3 {
  font-size: var(--font-size-l);
  margin-bottom: var(--space-xs);
  line-height: 1.175;
}

h4 {
  font-size: var(--font-size-l);
  line-height: 1.175;
}

h5, h6 {
  font-size: var(--font-size-base);
}

a {
  outline: 0;
  color: var(--color-primary-main);
  text-decoration: none;
  transition-property: background, color;
  transition-duration: var(--transition-duration-fast);

  &:hover {
    text-decoration: underline;
  }

  & svg {
    transition-property: background, color;
    transition-duration: var(--transition-duration-fast);
  }
}

p, ul, ol {
  margin-bottom: var(--space-m);
}

p,
ul,
ol {
  & + h2 {
    margin-top: var(--space-xxl);
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: var(--space-xl);
  }
}

main {
  & h1, & h2, & h3, & h4, & h5, & h6,
  & p, & ul, & ol, &article {
    max-width: 42rem;
  }
}

strong {
  color: var(--color-neutral-65);
}

code {
  color: var(--color-neutral-65);
  font-size: var(--font-size-s);
  font-family: monospace;
}

small {
  font-size: var(--font-size-s);
}

input,
button {
  appearance: none;
  font-family: var(--font-family-base);
  font-size: 1.1rem;
  font-weight: var(--font-weight-normal);
  padding: var(--space-xs) var(--space-m);
  color: var(--color-body-text);
  background-color: var(--color-white);
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  outline: none;
}

input {
  border: 1px solid var(--color-neutral-65);

  &:focus,
  &:hover {
    outline: 1px solid var(--color-neutral-65);
  }
}

img:-moz-loading {
  visibility: hidden;
}

[aria-hidden="true"] {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  padding: var(--space-xs) var(--space-l);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-base);
  font-size: 1.1rem;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  color: var(--color-body-text);
  transition-property: color;
  transition-duration: var(--transition-duration-fast);
  box-shadow: var(--box-shadow-strong);

  &:hover {
    color: var(--color-primary-main);
    text-decoration: none;
  }
}
