.footer {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  background-color: var(--color-bg-dark);

  & .wrap {
    @media (--up_to_L) {
      display: flex;
      justify-content: center;
    }
  }

  & .inner {
    display: grid;
    gap: var(--space-xxl);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 319.99px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 320px) and (max-width: 469.99px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 470px) and (max-width: 959.99px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 960px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  & .box {
    display: flex;
    flex-direction: column;
  }

  & h6 {
    color: var(--color-neutral-65);
    margin-bottom: var(--space-xs);
  }

  & a {
    color: var(--color-neutral-50);

    &:hover {
      color: var(--color-primary-main);
      text-decoration: none;
    }
  }
}
