.footer {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
  background-color: black;
  color: #FFF9F6 !important;

  & .wrap {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xxxl);
    width: 100%;

    @media (--up_to_L) {
      flex-direction: column-reverse;
    }
  }

  & .logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
    min-width: 181px;

    & .logo {
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      & .logo-image {
        width: 181px;
        height: auto;
      }

      & span {
        font-size: 14px;
        font-weight: 400;
        line-height: 22.68px;
      }
    }


    & .company-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & .polyreg-image {
        width: 120px;
        height: auto;
      }
  
      & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }

      @media (--up_to_L) {
        align-items: center;
      }
    }

    @media (--up_to_L) {
      align-items: center;
      text-align: center;
      gap: 16px !important;
    }
  }

  & .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 96px;

    & .footer-box {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & h6 {
        font-weight: 700;
        margion: 0 !important;
      }

      & h6, a {
        font-size: 22.65px;
        line-height: 22.65px;
        color: #FFF9F6 !important;
      }
    }
  
    @media (--S_to_L) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--up_to_S) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
