.wrap {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrap-padding-horizontal);
  padding-right: var(--wrap-padding-horizontal);
}

.content-wrap {
  max-width: 42em;

  &.content-wrap--centered {
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    & ul {
      list-style: none;
      margin-left: 0;
    }
  }
}

.main {
  padding-top: var(--header-height);
  flex: 1;

  & section {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);

    @nest .with-teaser &:is(:first-of-type) {
      padding-top: calc(var(--section-padding-top) * 2.5);
    }
  }

  & article + article {
    margin-top: var(--space-xl);
  }
}
