.wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrap-padding-horizontal);
  padding-right: var(--wrap-padding-horizontal);
}

.content-wrap {
  max-width: 42em;
}

.main {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);

  flex: 1;

  & section {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
  }

  & li {
    margin-left: var(--space-l);
  }
}
