.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrap-padding-horizontal);
  padding-right: var(--wrap-padding-horizontal);

  @media (--up_to_M) {
    --wrap-padding-horizontal: var(--space-l);
  }
  @media (--M_to_L) {
    --wrap-padding-horizontal: var(--space-xl);
  }
  @media (--L_and_up) {
    --wrap-padding-horizontal: var(--space-xxl);
  }
}

.main {
  --main-padding-top: var(--header-height);
  --main-padding-bottom: var(--space-xxl);

  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);

  @media (--up_to_L) {
    --section-padding-top: var(--space-l);
  }
  @media (--L_and_up) {
    --section-padding-top: var(--space-xl);
  }

  flex: 1;

  & section {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
  }

  & li {
    margin-left: var(--space-l);
  }
}
