@custom-media --up_to_S screen and (max-width: 459.99px);
@custom-media --S_to_M screen and (min-width: 460px) and (max-width: 739.99px);
@custom-media --S_to_L screen and (min-width: 460px) and (max-width: 1099.99px);
@custom-media --up_to_M screen and (max-width: 739.99px);
@custom-media --up_to_L screen and (max-width: 1099.99px);
@custom-media --M_to_L screen and (min-width: 740px) and (max-width: 1099.99px);
@custom-media --S_and_up screen and (min-width: 460px);
@custom-media --M_and_up screen and (min-width: 740px);
@custom-media --L_and_up screen and (min-width: 1100px);

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-neutral-5: #ececec;
  --color-neutral-10: #d4cecb;
  --color-neutral-25: #baada7;
  --color-neutral-50: #9f8c82;
  --color-neutral-65: #7d675e;
  --color-neutral-100: #2b1911;

  --color-primary-dark-2: #963600;
  --color-primary-dark-1: #c45104;
  --color-primary-main: #f56522;
  --color-primary-mild-2: #ffa171;
  --color-primary-mild-1: #fcccb6;
  --color-peach-rgb: 255, 77, 66;
  --color-peach: rgba(255, 77, 66, 1);

  --color-bg-main-rgb: 255, 249, 246;
  --color-bg-light: #fffcfa;
  --color-bg-main: rgb(var(--color-bg-main-rgb));
  --color-bg-dark: #feede5;

  --color-body-text: var(--color-neutral-100);
  --color-body-bg: var(--color-bg-main);

  --color-border-light: var(--color-neutral-25);
  --color-border-medium: var(--color-neutral-50);

  --color-map-region: var(--color-border-light);
  --color-map-outline: var(--color-neutral-50);

  --bg-gradient-peachy: radial-gradient(
      110.76% 117.21% at 100% 0%,
      rgba(255, 162, 76, var(--alpha-gradient-peachy, 1)) 0%,
      rgba(255, 122, 80, var(--alpha-gradient-peachy, 1)) 50.25%,
      var(--color-peach) 100%
    )
    no-repeat;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2.25rem;
  --space-xxl: 3rem;
  --space-xxxl: 4.5rem;

  --transition-duration-fast: 0.25s;
  --transition-duration-medium: 0.4s;
  --transition-duration-slow: 0.75s;

  --opacity-text: 0.825;
  --border-radius: 16px;
  --box-shadow-light: 0 0 16px rgba(43, 25, 17, 0.24);
  --box-shadow-strong: 0 0 8px rgba(43, 25, 17, 0.45);

  --font-family-base: 'Baloo 2', sans-serif;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  --font-size-xs: 0.85rem;
  --font-size-s: 0.925rem;

  /* Content */
  --section-padding-bottom: var(--space-xxl);

  @media (--up_to_M) {
    --font-size-base: 14px;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
    --font-size-xxxl: 2.4rem;
    --header-height: 4rem;
    --wrap-padding-horizontal: var(--space-l);
    --section-padding-top: var(--space-xl);
  }
  @media (--M_to_L) {
    --font-size-base: 18px;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.75rem;
    --font-size-xxxl: 2.4rem;
    --header-height: 4rem;
    --wrap-padding-horizontal: var(--space-xl);
    --section-padding-top: var(--space-xl);
  }
  @media (--L_and_up) {
    --font-size-base: 20px;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.75rem;
    --font-size-xxxl: 2.4rem;
    --header-height: 4rem;
    --wrap-padding-horizontal: var(--space-xxl);
    --section-padding-top: var(--space-xxl);
  }
}
