.post {
  & img {
    max-width: 100%;
  }

  & h2 {
    font-weight: var(--font-weight-semibold);
    font-size: 36px;
    margin-bottom: 32px;
  }

  & h3 {
    font-weight: var(--font-weight-semibold);
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.postPreview {
  display: flex;
  gap: var(--space-l);

  & + .postPreview {
    margin-top: var(--space-l);
  }

  & .date {
    color: var(--color-neutral-65);
  }

  & img {
    max-width: 35%;
    flex: 1 0 35%;
    align-self: center;

    @media (--up_to_M) {
      display: none;
    }
  }

  & h4 {
    margin-bottom: 15px;

    @media (--up_to_M) {
      font-size: var(--font-size-xl);
    }
  }

  & p {
    margin-bottom: 0;
  }
}
