.post {
  & img {
    max-width: 100%;
  }

  & h2 {
    font-weight: var(--font-weight-semibold);
    font-size: 36px;
    margin-bottom: 32px;
  }

  & h3 {
    font-weight: var(--font-weight-semibold);
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.postPreview {
  display: block;
  text-decoration: none !important;

  @media (--M_and_up) {
    display: flex;
    align-items: center;
    max-width: 53em;
    transition-property: background, border, transform;
    transition-duration: var(--transition-duration-fast);
  }

  & + .postPreview {
    margin-top: var(--space-xxl);
  }

  & .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    box-shadow: var(--box-shadow-light);
    border-radius: var(--space-l);
    overflow: hidden;

    & img {
      height: 100%;
    }

    @media (--up_to_M) {
      width: 100%;
      margin-bottom: 25px;
    }
    @media (--M_and_up) {
      flex: 0 0 42.5%;
      margin-right: 25px;
    }
  }

  & h4 {
    margin-bottom: 15px;

    @media (--up_to_M) {
      font-size: var(--font-size-xl);
    }
  }

  & p {
    color: var(--color-body-text) !important;
  }
}
