#index #header-anchor {
  margin-top: calc(var(--header-height) * -2);
  margin-bottom: calc(var(--header-height) * 1.5);
}

.teaser {
  color: var(--color-white);
  background: var(--color-gradient-peachy);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  /* gradually try to set better but less supported values and units */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100dvh;

  & img {
    width: 100%;
    max-width: 480px;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
}

.newsletter-form {
  max-width: 29rem;
  color: var(--color-white);
  background: var(--color-gradient-peachy);
  padding: var(--space-m) var(--space-l);
  border-radius: var(--border-radius);

  & h4 {
    margin-bottom: var(--space-m);
  }

  & a {
    color: inherit;
    text-decoration: underline;
  }

  & div {
    margin-bottom: var(--space-m);

    &.check {
      display: flex;
      align-items: flex-start;
      gap: var(--space-s);
    }
  }

  & label {
    display: block;
    margin-bottom: var(--space-xxs);
  }

  & input[type="text"] {
    width: 100%;
  }

  & input[type="checkbox"] {
    width: var(--space-s);
    height: var(--space-s);
    padding: var(--space-s);
    border-radius: var(--space-xs);

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23F56522' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
  }

  & button[type="submit"] {
    transition-property: color;
    transition-duration: var(--transition-duration-fast);

    &:hover {
      color: var(--color-primary-main);
    }
  }
}
