.post-preview {
  margin-top: var(--space-l);

  .date {
    color: var(--color-neutral-65);
  }

  & img {
    max-width: 35%;
    flex: 1 0 35%;
    align-self: center;

    @media (--up_to_M) {
      display: none;
    }
  }

  & h4 {
    margin-bottom: 15px;

    @media (--up_to_M) {
      font-size: var(--font-size-xl);
    }
  }

  & p {
    margin-bottom: 0;
  }
}

.tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  align-items: center;
  justify-content: center;

  & a {
    font-size: var(--font-size-xs);
    padding: var(--space-xxs) var(--space-m);
    border: 1px solid var(--color-neutral-10);
    border-radius: var(--space-l);
    text-decoration: none;

    &:focus,
    &:hover {
      border-color: var(--color-primary-main);
    }
  }
}

[id^="blog"] {
  .figures {
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;

    & figure {
      & figcaption {
        text-align: center;
      }
    }
  }

  & figure  {
    text-align: left;

    & img {
      padding: var(--space-xxs);
      border-radius: var(--space-l);
      background-color: var(--color-neutral-5);
    }
  }
}
