#index {
  & .contact {
    --icon-size: 4rem;
    max-width: 26rem;

    @media (--up_to_M) {
      max-width: 16em;
    }
  }
}

#top,
#bottom,
#mission {
  & .content-wrap {
    max-width: 26em;
    font-size: var(--font-size-l);
  }
}

#mission {
  & h2 {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
    background: var(--bg-gradient-peachy);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#newsletter {
  & form {
    margin-left: auto;
    margin-right: auto;
  }
}
