#index {
  & .teaser {
    @media screen and (max-height: 749.99px) {
      & h1 {
        display: none;
      }
      & h2 {
        margin-top: auto;
      }
    }
    & .buttons {
      & a {
        flex: 0 0 18rem;
      }
    }

    @media screen and (orientation: landscape) and (max-height: 899.99px) {
      & .inner-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-xl);
      }
      & .buttons {
        width: 18rem;
        order: 2;
      }
      & img {
        max-height: 320px !important;
      }
    }
  }

  & .contact {
    --icon-size: 4rem;
    max-width: 26rem;

    @media (--up_to_M) {
      max-width: 16em;
    }
  }
}

#top,
#bottom,
#mission {
  & .content-wrap {
    --max-width: 26em;
    font-size: var(--font-size-l);
  }
  & p {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
  }
}

#mission {
  & h2 {
    @mixin peach-text;
    font-size: var(--font-size-xxxl);
  }
}

#newsletter {
  & form {
    max-width: 20.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  & .button {
    margin-left: auto;
    margin-right: auto;
  }
}
