#index {
  & .teaser {
    position: relative;

    @media screen and (max-height: 749.99px) {
      & h1 {
        display: none;
      }
      & h2 {
        margin-top: auto;
      }
    }
    & .buttons {
      & a {
        flex: 0 0 18rem;
      }
    }

    @media screen and (orientation: landscape) and (max-height: 899.99px) {
      & .inner-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-xl);

        & .buttons {
          margin: 0;
        }
      }
      & .buttons {
        width: 18rem;
        order: 2;
      }
      & img {
        max-height: 320px !important;
      }
    }
  }

  .teaser-badge {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 100%;
    border: 4px solid #fff;

    & img {
      max-width: 100%;
    }
  }

  & .contact {
    --icon-size: 3rem;
    max-width: 20rem;

    @media (--up_to_M) {
      max-width: 16em;
    }
  }
}

#top,
#bottom,
#mission {
  & .content-wrap {
    --max-width: 26em;
    font-size: var(--font-size-l);
  }
  & p {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
  }
}

#mission {
  & h2 {
    @mixin peach-text;
    font-size: var(--font-size-xxxl);
  }
}

#newsletter {
  & form {
    max-width: 20.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  & .button {
    margin-left: auto;
    margin-right: auto;
  }
}

#index {
  & .teaser {
    position: relative;

    @media screen and (max-height: 749.99px) {
      & h1 {
        display: none;
      }
      & h2 {
        margin-top: auto;
      }
    }
    & .buttons {
      & a {
        flex: 0 0 18rem;
      }
    }

    @media screen and (orientation: landscape) and (max-height: 899.99px) {
      & .inner-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-xl);

        & .buttons {
          margin: 0;
        }
      }
      & .buttons {
        width: 18rem;
        order: 2;
      }
      & img {
        max-height: 320px !important;
      }
    }
  }

  .teaser-badge {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 100%;
    border: 4px solid #fff;

    & img {
      max-width: 100%;
    }
  }

  & .contact {
    --icon-size: 3rem;
    max-width: 20rem;

    @media (--up_to_M) {
      max-width: 16em;
    }
  }
}

#top,
#bottom,
#mission {
  & .content-wrap {
    --max-width: 26em;
    font-size: var(--font-size-l);
  }
  & p {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
  }
}

#mission {
  & h2 {
    @mixin peach-text;
    font-size: var(--font-size-xxxl);
  }
}

#newsletter {
  & form {
    max-width: 20.75rem;
    margin-left: auto;
    margin-right: auto;
  }

  & .button {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  cursor: pointer;
  border: solid rgb(223, 50, 31);
  font-family: var(--font-family-base);
  font-size: 19px;
  color: rgb(255, 255, 255);
  padding: 19px 30px;
  transition: 491ms;
  width: 350px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgb(223, 50, 31) 0%, rgb(223, 50, 31) 0%);
  --hover-borderSize: 0px;
  --hover-bgc: #df321f;
  --hover-color: #fafafa;
  --hover-width: 335px;
  font-weight: var(--font-weight-normal);
  }
  
  .btn:hover {
  color: #fafafa; /* Colore del testo al passaggio del mouse */
  background: linear-gradient(90deg, var(--primary-dark-1) 0%, var(--primary-main) 100%); /* Gradiente per l'hover */
  border-color: var(--primary-dark-2); /* Bordo più scuro al passaggio del mouse */
  border-width: 2px;
  width: 370px; /* Mantiene la larghezza al passaggio del mouse */
}
