#for-meetups {
  & form {
    margin: var(--space-xl) 0 var(--space-l);
  }

  .form_addon {
    font-size: var(--font-size-s);

    :last-child {
      margin-bottom: 0;
    }
  }
}

.vectorMap {
  width: 100%;
  height: 60vh;
}
