body.payment-methods-page {
    background-color: #fdf7f3; 
    font-family: inherit; 
    color: #333; 
    margin: 0;
    padding: 0;
}


.payment-methods-page h1, .payment-methods-page h2 {
    color: #452f1d; 
    text-align: center;
    margin: 20px 0;
}


.payment-methods-page .payment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center; 
    grid-auto-flow: dense; 
}


.payment-methods-page .payment-grid-item {
    background-color: #fff;
    border: 2px solid #e95420;
    border-radius: 10px; 
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.payment-methods-page .payment-grid-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}


.payment-methods-page .payment-grid-item:hover {
    transform: translateY(-5px);
    background-color: #fde8e0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.payment-methods-page .payment-grid-item a:hover {
    color: #6b3720;
}


.payment-methods-page .payment-grid-item img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}


.payment-methods-page h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #452f1d;
    margin-bottom: 30px;
    font-weight: bold;
}


@media (max-width: 600px) {
    .payment-methods-page .payment-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}
