#support {
  .faq,
  .guides {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    max-width: 15rem;
  }

  .guides {
    margin: var(--space-xxl) auto var(--space-xl);
  }

  .faq {
    margin: var(--space-l) auto var(--space-xxl);
  }
}
