extends /template.pug

block main
  section.wrap
    .content-wrap.content-wrap--centered
      if tag
        h1= `Blog posts tagged with "${tag}"`
      else
        != html
        .content-wrap.tags
          each tag in siteData.tags
            if (tag.lang === lang || (lang === 'en' && !tag.lang))
              a(href=getUrl(`/${tag.permalink}`, lang))= tag.tag
    .content-wrap.posts
      each post in (posts || siteData.posts)
        if (post.lang === lang || (lang === 'en' && !post.lang))
          +postPreview(post)
