extends /template.pug

block append vars
  - const hasTeaser = true

block teaser
  section.teaser
    != html.teaser
    a.scroll(href="#main"): +sprite("chevron-down")

block main
  section#top.wrap
    .content-wrap.content-wrap--centered
      != html.top

  section#mission.wrap
    .content-wrap.content-wrap--centered
      != html.mission
      .contact
        include /social.pug

  section#newsletter.wrap
    form.newsletter-form(method="POST" action="https://5dcdd79e.sibforms.com/serve/MUIEAGjzL2fItMY1cwWaIXk6UiGKmh6OFwDRRA3wjUptuI7KEG1oWd0-a1M8fGC4apXeJkr9xTZPG-HK-Cyl0Zs8OEyH-qMndMqnE5MgP-0WVFz9ryAKU_te8XOKoOStliGWWB1LTjgioz5XpKeH-rihs5STRci4aD12qb4jAeOqrVXbV8E4wJKLWDVaEgrLzrIY612Qgi2V1KQq")
      h4: label(for="email") ¡Suscríbete a nuestra lista de correo para mantenerte al día con las actualizaciones importantes de Peach y recibe las estadísticas del mercado P2P de Peach!
      div
        input#email(type="text" name="EMAIL" autocomplete="off" placeholder="Email" required)
      div.check
        input#optin(type="checkbox" value="1" name="OPT_IN")
        label(for="optin"): small Acepto recibir correos de Peach Bitcoin y estoy conforme a la <a href="/privacyPolicy.html">Política de Privacidad</a>.
      p
        small Puedes anular tu suscripción en cualquier momento a través del link de nuestros emails.
      button.button.button--white(type="submit") Suscribirme
      input(type="hidden" name="email_address_check" value="")
      input(type="hidden" name="locale" value="en")
      input(type="hidden" name="html_type" value="simple")

  section#bottom.wrap
    .content-wrap.content-wrap--centered
      != html.about
