extends /template.pug

block main
  section.wrap
    .content-wrap
      != html

      p.date= (new Date(date)).toLocaleDateString('en-us', { year: 'numeric', month: 'long', day: 'numeric' })

      p
        a(href="/blog/") All blog posts
