extends /template.pug

block main
  section.wrap.post
    != html

    p.date= (new Date(date)).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })

    p
      a(href="/blog/") All blog posts
