extends /template.pug

block main
  section.wrap
    .content-wrap.content-wrap--centered
      != html.intro

      .guides
        a(href="/quick-start/").button.button--primary
          span Quick Start Guide
          +sprite("quickstart")

      h2 FAQ
      .faq
        a(href="/faq/trading/").button.button--primary
          span Trading
          +sprite("trading")
        a(href="/faq/matches/").button.button--primary
          span Matches
          +sprite("matches")
        a(href="/faq/account/").button.button--primary
          span My Account
          +sprite("account")
        a(href="/faq/privacy/").button.button--primary
          span Privacy
          +sprite("privacy")

      != html.contact
      .contact
        a(href=`mailto:${siteData.meta.contactEmail}` title="email")
          +sprite("social-email", "Email")
        include /social.pug
